/* Provide sufficient contrast against white background */

:root {
  font-size: 18px;
}

body {
  background-color: whitesmoke;
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0
}

.build-status {
  color: rgb(56, 56, 56);
  font-size: 1.5rem;
}

.environments {
  display: flex;
  justify-content: space-around;
}

.environments .status {
  background-color: white;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px grey solid;
}

.commits-container {
  display: flex;
  flex-direction: column;
}

.commits-container header {
  align-self: flex-end;
  font-size: 0.9rem;
}

.commit {
  border: 1px solid pink;
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 0.25rem;
}

.commit::after {
  content: "in master, not deployed";
  font-size: 0.75rem;
  color: darkslategrey;
}

.commit.is-staging::after {
  content: 'currently staging';
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
}

.commit.on-staging::after {
  content: 'in staging';
  color: lightgray;
}

.commit.is-production::after {
  content: 'is production';
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
}

.commit.on-production::after {
  content: 'in production';
  color: lightgray;
}

.commit .data {
  display: grid;
  width: 80%;
  grid-template-columns: 20% auto;
  grid-template-rows: 50% 50%;
}

.commit.on-production {
  background-color: green;
  color: white;
  border: none;
}

.commit.is-production {
  background-color: green;
  color: white;
  border: 5px yellow dotted;
}

.commit.is-staging {
  background-color: blue;
  color: white;
  border: 5px orange dotted;
}

.commit.on-staging {
  background-color: blue;
  color: white;
  border: none;
}

.commit.is-production .sha a, .commit.is-staging .sha a, .commit.on-production .sha a, .commit.on-staging .sha a {
  color: lightblue;
}

.message {
  grid-column-start: 1;
  grid-column-end: 4;
}

.small-text {
  font-size: 0.8rem;
}

.smaller-text {
  font-size: 0.7rem;
}

.github-image {
  width: 2rem;
  border-radius: 5rem;
  margin: 0.40rem;
}

.user {
  background-color: #d4d8db;
  border-radius: 5rem;
}

.user a {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user, .sha {
  display: flex;
  align-items: center;
}

.sha {
  flex-direction: column;
}

.right-align {
  text-align: right;
}

.search-result {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 0.25rem;
  border: 1px darkgray solid;
  border-radius: 0.25rem;
}

.search-result .on-staging {
  background-color: blue;
  color: white;
  padding: 0.35rem;
  border-radius: 5rem;
}

.search-result .on-production {
  background-color: green;
  color: white;
  padding: 0.35rem;
  border-radius: 5rem;
}